background:
    QLinearGradient( spread:pad, x1: 0, y1: 0,
                     x2: 0, y2: 1,
                     stop: 0 #f2f2f2,
                     stop: 1 #d6d6d6
    ),
    QLinearGradient( spread:pad, x1: 0, y1: 0,
                     x2: 0, y2: 1,
                     stop: 0 #fcfcfc,
                     stop: 0.2 #d9d9d9,
                     stop: 1 #d6d6d6
    ),
    QLinearGradient( spread:pad, x1: 0, y1: 0,
                     x2: 0, y2: 1,
                     stop: 0 #dddddd,
                     stop: 0.5 #f6f6f6,
                     stop: 1 #f6f6f6
    );
background-radius: 8,7,6;
background-insets: 0,1,2;
text-fill: black;
